<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color:lavender;">


<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">


<div class="container-fluid">
  <h2 class="text-center heading text-primary">History of Currencies</h2>
  <div class="row text-center text-primary">
    <span>Select the base currency and choose the time duration</span>
  </div>
  <div class="row selection-area justify-content-center">
    <div class="col-sm-3 col-sm-offset-1 each-box select-dropdown">
      <span class="text-primary">Select Currency :</span>
      <%= select_tag(:base_currency, options_for_select(CurrencyConversionsController::ALL_CURRENCIES, params[:base_currency]), class: "select btn btn-primary dropdown-toggle") %>
    </div>

    <div class="col-sm-3 each-box text-primary">Start Date:
      <input type="date" name="[start_date]" id="start_date">
      <span class="start_date_err text-danger hidden" role="alert" ><strong>please select smaller than end date</strong></span>
    </div>
    <div class="col-sm-3 each-box text-primary">End Date:
      <input type="date" name="[end_date]" id="end_date">
    </div>
    <div class="col-sm-2 each-box text-center">
      <button class="search-button disable_custom success text-primary" onclick="calculateDates()" data-url="/currency_conversions_history" id="submit-search-btn">Search</button>
    </div>
  </div>
  <div class="row">
    <div id="chart"></div>
  </div>
</div>
</body>
</html>