
/*
 */

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    border: 2px solid #9e8e85;
    border-radius: 5px;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


/* custom styles */

body {
    padding: 4em;
    background-color: #D1CAC2;
    color: #1D1D1D;
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

label {
    display: block;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

.heading {
    font-weight: bold;
    font-size: 1.9em;
    padding-bottom: 10px;
}

.selection-area {
    margin-top: 20px;
}

.each-box {
    padding: 10px;
}

.search-button {
    border: 2px solid black;
    background-color: inherit;
    color: black;
    padding: 3px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    border-color: #9e8e85;
    color: #9e8e85;
}
.select{
    border: 2px solid #9e8e85;
    border-radius: 5px;
    width: 40%;
    height: 30px;
}
#fail_call{
    font-size: 25px;
    color: red;
    text-align: center;
    margin-top: 54px;
}
.disable_custom{
    pointer-events: none;
}
.start_date_err, .start_date_not_selected, .end_date_err{
    padding-left: 65px;
}
